@font-face {
  font-family: 'OfficinaSans';
  src: url('/rsschool-cv/fonts/OfficinaSans-Book.woff') format('woff'),
       url('/rsschool-cv/fonts/OfficinaSans-Book.eot') format('eot'),
       url('/rsschool-cv/fonts/OfficinaSans-Book.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OfficinaSans';
  src: url('/rsschool-cv/fonts/OfficinaSans-Medium.woff') format('woff'),
       url('/rsschool-cv/fonts/OfficinaSans-Medium.eot') format('eot'),
       url('/rsschool-cv/fonts/OfficinaSans-Medium.ttf') format('ttf');
  font-weight:bolder;
  font-style:normal;
}

@font-face {
  font-family: 'OfficinaSans';
  src: url('/rsschool-cv/fonts/OfficinaSans-Bold.woff') format('woff'),
       url('/rsschool-cv/fonts/OfficinaSans-Bold.eot') format('eot'),
       url('/rsschool-cv/fonts/OfficinaSans-Bold.ttf') format('ttf');
  font-weight:bold;
  font-style:normal;
}

body {
  margin: 0 auto;
  width: 800px;
  border: 2px solid #56485E;
  font-family:'OfficinaSans', normal;
}

header {
  display: flex;
  background-color: #56485E;
  color: #E6E4E7;
}

aside {
  background: #EDEBF0;
  width: 200px;
  height: 866px;
  float: left;
}

.aside {
  padding: 15px;
}


.block {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #56485E;
}

main {
  margin-left: 250px;
  margin-top: 30px;
  display: block;
  height: 826px;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 40px;
  margin-top: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}

.conacts {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 10px;
  height: 30px;
}

h5 {
  margin: 0;
}

p {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #56485E;
  color: #E6E4E7;
  align-items: center;
}

.footerIcon {
  width: 30px;
  height: 30px;
}

.skills {
  display: flex;
  margin: 10px;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
}

h4 {
  width: 208px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.skillsContainer {
  margin-left: 10px;
}

.circleContainer {
  display: flex;
  gap: 10px;
}

pre {
  margin: 0;
  background-color: #EDEBF0;
  width: 75%;
}

h2 {
  margin: 40px 0px 20px 0px;
  border-bottom: 2px solid #56485E;
}

.heading {
  margin-left: 150px;
}

#h4 {
  width: fit-content;
}