body {
  margin: 0 auto;
  width: 900px;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #56485E;
  color: #E6E4E7;
}

aside {
  background: #EDEBF0;
  width: 200px;
  height: 856px;
  float: left;
}

.aside {
  padding: 15px;
}


.block {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #56485E;
}

main {
  margin-left: 250px;
  margin-top: 30px;
  display: block;
  width: 70%;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  width: 20px;
  height: 20px;
}

.conacts {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 10px;
  height: 30px;
}

h5 {
  margin: 0;
}

p {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #56485E;
  color: #E6E4E7;
  align-items: center;
}

.footerIcon {
  width: 30px;
  height: 30px;
}
